.course {
    display: block;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    color: inherit;
    &__img {
        height: 12rem;
        width: 100%;
        border: transparent solid;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;

    }
    &__badge {
        position: absolute;
        right: 0.75rem;
        top: 1rem;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        padding: 0.5rem;
        border-radius: 0.25rem;
    }
    &__profile {
        display: flex;
        align-items: center;
        position: relative;
        padding: 1rem;
    }
    &__description {
        flex: auto;
    }
    &__title {
        margin: 0;
        margin-bottom: 0.25rem;
    }
    &__subtitle {
        margin: 0;
    }
}