
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

$font-txt: "roboto", sans-serif;

h2, h3, h4, h5, p, a {
    font-family: $font-txt;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
