//GENERAL ========
html, body {
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
// header section =========
.header {
    @include flexCentre;
    position: relative;
    box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.25);
    z-index: 1000;
    &__logo {
        font-family: "shrikhand", "cursive";
        font-size: 1.75rem;
        margin: 0;
    }
}
//recherche de localisation=======
.location {
    @include flexCentre;
    height: 50px;
    background-color: $color-local;
    &__icon {
        margin-right: 0.5rem;
    }   
}
input {
    border: none;
    background-color: transparent;
    font-size: 1rem;
}
//profile==========
.info {
    padding: 2rem;
    background-color: $color-page;
    text-align: center;
    padding-bottom: 4rem;
    &__title {
        margin: 0 1rem;  
    }
    &__subtitle {
        margin: 1.5rem 0;
        color: #7e7e7e;
    }
}

// section restaurant =========
.restaurants {
    background-color: $color-page;
    padding: 2rem 1rem 4rem 1rem;
}
//carte de menu ========
.courses {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 2rem;
    row-gap: 1.3rem;
    @include tablet {
        grid-template-columns: repeat(2,1fr);
    }
}

.fa-heart {
    font-size: 25px;
    font-weight: lighter;
    color: black;
    cursor: pointer;
    &:hover {
        font-weight: bolder;
        background: linear-gradient(to top, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        animation: animbutton 2s forwards;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;


    }
}
