html, body {
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;

}
//section header =========
.header {
    @include flexCentre;
    position: relative;

    &__logo {
    height: 50px;
    width: 170px;
    padding-top: 1rem;
    }
    &--leftArrow {
        position: relative;
    }
    &__arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    @include flexCentre;
    transform: translateY(-50%);  
    font-size: 1.2rem;
    color: black;
    }   
}
// menu image =======
.menuImg {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

//Présentation du contenu de la page ========
.menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: $color-page;
    z-index: 1;
    position: relative;

    &__head {
        padding: 1rem 2rem 0 1rem;
        @include flexBetween;
    }
    &__type {
        font-family: "shrikhand", "cursive";
    }
}
// contient tout le contenu du menu de la page ==========
.menuCards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
}

.delay-0 {
    @include boxAnime; 
    animation-delay: .0s;
 }
 .delay-1 {
    @include boxAnime;
    animation-delay: .1s;
 
 }
 .delay-2 {
    @include boxAnime;
     animation-delay: .2s;
 
 }
 .delay-3 {
    @include boxAnime;
     animation-delay: .3s;
 
 }
 .delay-4 {
     @include boxAnime;
     animation-delay: .4s;
 
 }
 .delay-5 {
    @include boxAnime;
     animation-delay: .5s;
 
 }
 .delay-6 {
     
     @include boxAnime;
     animation-delay: .6s;
 
 }
 .delay-7 {
     @include boxAnime;
     animation-delay: .7s;
 
 }
 .delay-8 {
     @include boxAnime;
     animation-delay: .8s;
 
 }
 .delay-9 {
     @include boxAnime;
     animation-delay: .9s;
 }
