@keyframes boxAppear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animbutton {
    from {
        background-position-y: 30px;
    }
    to {
        background-position-y: -30px ;
    }
}