@mixin flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;  
}
@mixin flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;   
}
@mixin boxAnime {
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: both;
}
@mixin tablet {
    @media all and (min-width: map-get($breakpoint, tablet)){@content;};
    
}
@mixin desktop {
    @media all and (min-width: map-get($breakpoint, desktop)){@content;};
    
}
@mixin tv {
    @media all and (min-width: map-get($breakpoint, tv)){@content;};
    
}