@mixin flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;  
}
@mixin flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;   
}